<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Correct API Key meta-data -->
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCJOkGs1B_sMZJbDjrjPAsSz-n2UXw6s7Y" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ps_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ps_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bookmyshow"
        tools:targetApi="31">
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".AddMovieDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Bookmyshow" /> <!-- MapsActivity (Google Maps) -->
        <activity
            android:name=".MapsActivity"
            android:exported="false" /> <!-- Splash Activity (Launcher Activity) -->
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other Activities -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".loginpage"
            android:exported="false" />
        <activity
            android:name=".Confirmpage"
            android:exported="false" />
        <activity
            android:name=".BookedMoviesActivity"
            android:exported="false" />
        <activity
            android:name=".SeatSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".Timedateandtheatrechoosing"
            android:exported="false" />
        <activity
            android:name=".MovieDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AddMovieActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
    </application>

</manifest>